@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
header {
  background-color: #424245;
  color: white;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0rem;
  padding: 0rem;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 16px;
}
@media (max-width: 768px) {
  header {
    height: 25rem;
  }
}
header h1 {
  margin: 0px;
}
@media (max-width: 768px) {
  header h1 {
    text-align: center;
    width: 100%;
  }
}
header p {
  margin: 0 16px 0 0;
}
@media (max-width: 768px) {
  header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
header p a {
  text-decoration: none;
  color: rgb(216, 216, 216);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  margin: 6px;
}
header p :hover {
  color: white;
  background-size: 100% 2px;
}

.logo {
  width: 1rem;
  margin: 0;
  height: 1rem;
}

.navBar__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media (max-width: 768px) {
  .navBar__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.navBar__summary {
  margin: 16px 0 0 0;
  padding: 0;
}

html {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  border: solid 1px black;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
}

* {
  margin: 1rem;
  padding: 0px;
}

a.lacaUxUi {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  margin: 6px;
}
a:hover {
  color: rgb(0, 0, 0);
  background-size: 100% 2px;
}

.hovercard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media (max-width: 768px) {
  .hovercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.project-cards {
  border: solid 1px rgb(194, 194, 194);
  border-radius: 1rem;
  width: 100%;
  margin: 0 16px 0 0;
}
@media (max-width: 768px) {
  .project-cards {
    width: 100%;
    margin: 16px 0 0 0;
  }
}
.project-cards.hovercard:hover {
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
}

.webDeveloper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .webDeveloper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cardsUxUi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .cardsUxUi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.devTitle {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
